<div class="page-header">
</div>

<div class="container-fluid">
  <div class="col-md-offset-2 col-md-8 col-md-offset-2">



    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/locations/<%= @location.id %>"><%=  @location.city_country.capitalize %>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <a href="/locations/<%= @location.id %>">
           <img src="<%= @location.image %>" class="img-responsive">
        </a>


<div class="well">
  <!-- List group -->
  <ul class="list-group">

     <li class="list-group-item"><strong>Country: </strong><%= @location.city_country %></li>
     <li class="list-group-item"><strong>Category: </strong><%= @location.category.capitalize %></li>
     <li class="list-group-item"><strong>Destination Summary: </strong><%= @location.destination_summary %></li>
     <li class="list-group-item"><strong>Our Rating(1-5): </strong>

     <% if @location.our_rating == 1 %>
        <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
     <% elsif @location.our_rating == 2 %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
     <% elsif @location.our_rating == 3 %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
     <% elsif @location.our_rating == 4 %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
     <% elsif @location.our_rating == 5 %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
     <% end  %>
     </li>

     <li class="list-group-item"><strong>Our Review: </strong><%= @location.our_review %></li>

     <li class="list-group-item"><strong>Price(1-5): </strong>
     <% if @location.price.to_i == 1 %>
        <i class="fa fa-usd"></i>
     <% elsif @location.price.to_i == 2 %>
        <i class="fa fa-usd"></i><i class="fa fa-usd"></i>
     <% elsif @location.price.to_i == 3 %>
        <i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i>
     <% elsif @location.price.to_i == 4 %>
        <i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i>
     <% elsif @location.price.to_i == 5 %>
        <i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i>
     <% end  %>
     </li>

     <li class="list-group-item"><strong>Hiking Trails: </strong>

     <% trails = [] %>
     <% trails = @location.hiking_trails.pluck(:link) %>
     <% count = 1 %>
     <% while trails.any? == true %>
      <a href="<%= trails.pop %>">Trail <%= count %> </a>
     <% count = count + 1 %>
     <% end %>
     </li>

     <li class="list-group-item"><strong>Hotels: </strong>

     <% hotels = [] %>
     <% hotels = @location.hotels.pluck(:link) %>
     <% count = 1 %>
     <% while hotels.any? == true %>
      <a href="<%= hotels.pop %>">Hotel <%= count %> </a>
     <% count = count + 1 %>
     <% end %>
     </li>

     </li>
     <li class="list-group-item"><strong>More Photos: </strong><a href="/photos/location/<%= @location.id %>">Photos</a></li>

  </div>

